: #Ignore csv and all zip files
*.csv
*.gzip
*.gz
*.zip

# Ignore ipython checkpoints
*.ipynb_checkpoints

#Ignoring model files
*.model

#Ignoring.npy files
*.npy

#Ignoring .gensim files
*.gensim

*.id2word
*.state

